* {
  font-family: "helvetica", sans-serif;
}

h1,h2,h3 {
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
}

#main-page {
  background-color: lightgray;
}

/* NAV */

#nav {
  text-align: center;

}

#nav ul {
  display: inline-block;
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

#nav-bar li {
  display: inline-block;
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
}

.form-container {
  text-align: center;
}

.post {
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  margin: 0 40px;
}
