* {
  font-family: "helvetica", sans-serif;
}

h1,h2,h3 {
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

input {
  margin: 5px 0;
  border-radius: 2px;
  text-align: center;
  font-size: 1.3em;
  color: gray;
}

input:focus {
  color: black;
  outline: none;
}

#main-page {
  /*background-color: lightgray;*/
  z-index: 2;
}

#blog-roll {
  margin-top: 85px;
}

/* NAV */

#nav {
  text-align: center;
  background-color: lightgray;
  z-index: 5;
  position: fixed;
  width: 100%;
}

#nav ul {
  display: inline-block;
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

#nav-bar li {
  display: inline-block;
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
}

.form-container {
  text-align: center;
}

form {
  margin-top: 85px;
}

.post {
  text-align: center;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 15px 40px;
}

.authored_posts {
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 10px 40px;
  padding: 20px;
}

#dashboard-posts-container {

}
