* {
  font-family: "helvetica", sans-serif;
}

h1,h2,h3 {
  margin: 0 auto;
  padding: 15px;
}

input {
  margin: 5px 0;
  border-radius: 2px;
  text-align: center;
  font-size: 1.3em;
  color: gray;
}

input:focus {
  color: black;
  outline: none;
}

#main-page {
  /*background-color: lightgray;*/
  z-index: 2;
}

/* NAV */

#nav {
  text-align: center;
  background-color: lightgray;
  z-index: 5;
  position: fixed;
  width: 100%;
  opacity: .8;
}

#nav ul {
  display: inline-block;
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

#nav-bar li {
  display: inline-block;
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
}

.form-container {
  text-align: center;
}

form {
  margin-top: 85px;
}

.blog-roll {
  text-align: center;
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
}

.post {
  text-align: center;
  padding: 25px;
  border: 2px dotted black;
  border-radius: 4px;
  margin: 20px;
  flex: 0;
}

.post:hover {
  border: 4px solid gray;
  transition: .5s;
}

.authored_posts {
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 10px 40px;
  padding: 20px;
}

.dashboard-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 20px 200px;
}

.dashboard-item {
  flex: 6;
}
